@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body {
	background-color: #fff;
	font-family: 'Quicksand', sans-serif;
	margin: 0%;
	color: #2d2d2d;
}
* {
  box-sizing: border-box;
}
/* all links are none decorated in site*/
a{
	text-decoration: none;
}
.header {
	margin-bottom: 1%;
	padding-top: 2%;
	/*border-bottom: 1px dotted #111;*/
	background-color: #20252f;
	overflow: hidden;
}
.header-elements{
	display: inline-block;
	height: 120px;
	float: left;
}
.header-img{
	width: 25%;
	padding-left: 10%;
	height: 105px;
}
.header-imglogo{
	width: 100%;
	height: 100%;
}
.label{
	padding: 1%;
	text-align: left;
	font-size: 200%;
	font-weight: bold;
	color: #e9f8f2;
	letter-spacing: 1px;
	float: left;
	margin-left: 2%;
	width: 40%;
}
.label a{
	color: #4aa285;
}
.main-body{
	margin: 1%;
}
.menu{
	margin: 1% 25%;
}
.menu-category, .menu-item{
	width: 100%;
	margin: 5% 0%;
}
.menu-item{
	display: block;
	border-bottom: 1px dotted #cacaca;
}
.menudis{
	display: inline-block;
}
.meu-item-text{
	width: 75%;
}
.menu-item-imgstyle{
	width: 24%;
}
.menu-item-img{
	width: 80%;
	border-radius: 10px;
}
.menu-veglogo-img{
	width: 15px;
	height: 15px;
}
.menu-item-name{
	font-weight: bold;
}
.menu-item-desc{
	color: #4d4d4d;
}
.menu-item-price{
	font-family: sans-serif;
	padding-top: 1%;
}
.menu-selected-item-quantity-minus, .menu-selected-item-quantity-total, .menu-selected-item-quantity-plus{
	display: inline-block;
	text-align: center;
}
.menu-selected-item-quantity{
	margin: 0 10%;
	width: 60%;
	border: 1px solid #92cfaa;
	color: #3e8e5e;
	font-size: 13px;
	font-weight: bold;
}
.menu-selected-item-quantity-minus, .menu-selected-item-quantity-plus{
	width: 15%;
}
.menu-selected-item-quantity-total{
	width: 55%;
}